@model List<ResultBlogDto>

@*
    get blogs by category id component view
*@
@foreach (var blog in Model)
{
	<div class="blog-entry d-flex blog-entry-search-item">
		<a href="#" class="img-link me-4">
			<img src="@blog.CoverImage" alt="Image" class="img-fluid">
		</a>
		<div>
			<span class="date">@blog.CreatedDate.ToShortDateString() <a href="#">@ViewBag.CategoryName</a></span>
			<h2><a href="#">@blog.Title</a></h2>
			<p>@(blog.Description.Length > 100 ? blog.Description.Substring(0, 100) + "..." : blog.Description)</p>
			<p><a href="#" class="btn btn-sm btn-outline-primary">Devamını Oku</a></p>
		</div>
	</div>
}
